body {
    background-color: #3C3C3C;
}

p {
    color: white;
}

h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 0;
    text-shadow: 2px 1px #FF5A5F;
}

h3 {
    color: #FF5A5F;
    font-size: 30px;
}

h4 {
    color: white;
    font-size: 35px;
}

h5 {
    color: #FF5A5F;
}

hr {
    border-color: #BBDBDF;
}

#profile-picture {
    float: right;
    margin: 3px;
    border-radius: 3%;
    clear: left;
}

.thumbnail {
    border-radius: 3%;
    border: none;
    margin-bottom: 0;
}

.callout {
    border: none;
    background-color: transparent;
    margin-bottom: 0;
}

li {
    font-size: 15px;
}

a {
    /* text-decoration: none !important; */
    color: white !important;
}

a:hover {
    color: green;
}

a:visited {
    color: #084C61;
}

a:hover {
    color: green;
}